extends layout

block content
	script(src="javascripts/ops.js")
		    
	h1 INF4375 - recherche des intallations sportives
	
	h3 Par nom d'arrondissement : 
	input#champ-nom-arr(type="string")
	br
	button(onclick='get_avec_nom_arr();') Rechercher
	#result
		p#res-nom-arr
	
	h3 Liste des installations
	table(border)
		thead
			tr
				th Installations
		tbody
			
	br
	h3 Par nom d'installation :
	select#options(name="nom")
	br
	button(onclick='get_avec_nom();') Chercher
		
	#liste-installations
		p#i-nom
	
	p#res-nom
	
	br
	h3 Par conditions des installations :
	input#champ-condition(type="string")
	br
	button(onclick='get_avec_condition();') Chercher
		
	#liste-insta-condition
		p#i-condition
	
	p#res-condition